<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <header>
      <h1>Index</h1>
    </header>
    <ul>
      {{#users}}
        <li>
          <img width"100" src="{{avatar}}" alt="">
          <h3>{{ name }}</h3>
          <h4>{{job}}</h4>
        </li>
      {{/users}}
    </ul>
  </body>
</html>
