<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Profile</title>
      <link rel="stylesheet" href="/user.css">
  </head>
  <body>
    <section class="userImage">
      <img src= {{ avatar }} alt="">
      <div class="personal">
        <span> {{ address.city }}, {{ job }}, {{ company }}</span>
        <span> {{ email }}, {{ phone }}</span>
      <div class="edSkills">
        <span class="education">Education</span><span> {{ university }}</span>
        <span class="skills">Skills</span><span> {{ skills }}</span>

      </div>


      </div>
    </section>
  </body>
</html>
