<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robot Profile</title>
      <link rel="stylesheet" href="/user.css">
  </head>
  <body>
    <section class="user">
      <img class="profPic" src= {{ avatar }} alt="">
      <span class="robotName"> {{ name }} </span>
      <div class="personal">
        {{ #job }}
        <span> {{ address.city }}, {{ job }}, {{ company }}</span>
        <span> {{ email }} | {{ phone }}</span>
      <div class="edSkills">
        <span class="education">Education</span><span> {{ university }}</span>
        <span class="skills">Skills</span><span> {{ skills }}</span>
      </div>
      {{ /job }}
      {{ ^job }}
        <span> {{ address.city }}, {{ job }}, {{ company }}</span>
        <span> {{ email }} | {{ phone }}</span>
      <div class="edSkills">
        <span class="education">Education</span><span> {{ university }}</span>
        <span class="skills">Skills</span><span> {{ skills }}</span>
      </div>
      {{ /job }}
      </div>
    </section>
  </body>
</html>
